.menu-title__container hr {
   margin: 1rem 0;
}

.menu-title__container h1 {
   padding: 1rem;
   font-size: 70px;
   background-color:darkcyan;
   display: flex;
   justify-content: center;
   align-items: center;
}