.small-card__container {
   margin: 0 1rem;
   border-bottom: 1px solid white;
}

.small-card__article {
   padding-bottom: 1rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 0.8rem;
}

.small-card__image>img {
   width: 150px;
}

.small-card__title {
   text-align: left;
}

.small-card__title>h3>a {
   font-size: 1rem;
   font-weight: 400;
}