.big-card__container {
   padding: 0.5rem;
   max-width: 400px;
   min-height: 400px;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.5rem;

   text-align: justify;
}

.big-card__image img {
   max-width: 100%;
}

.big-card__text > p {
   color: #cccccc;
}