.menu-bar__container {
   padding: 1rem;
   border-bottom: 1px solid white;
}

.menu-bar__container ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.menu-bar__container ul > li > a {
   font-size: 1.2rem;
}