/*******************************
   VERSÃO P/ TABLET
*******************************/
@media screen and (min-width:420px) and (max-width: 799.99px) {

   .menu-bar__container ul>li>a {
      font-size: 1rem;
   }
}

/*******************************
   VERSÃO P/ SMARTPHONE
*******************************/
@media screen and (max-width: 420px) {
   .menu-bar__container ul {
      gap: 0.5rem;
   }

   .menu-bar__container ul>li>a {
      font-size: 1rem;
   }
}